.sidebar{
    position: fixed;
    width: 20vw;
    border-right: 2px solid rgb(216, 213, 213);
    height: 100vh;
    background-image:linear-gradient(rgba(255, 255, 255, 0.651),rgba(0, 99, 5, 0.342));
}
.sidebar .x{
    color: green;
}
.sidebar .y{
    color: rgb(9, 80, 9);
}
.Logout{
    position: absolute;
    bottom: 0;
   width: 20vw;
    
}
.Logout .x{
    color: green;
}
.feed{
    float: right;
    width: 80vw;
    background-color:gray;
}